@import "../../../config";
.material-container {
    display: grid;
    padding: 0 30px;
    font-family: "Montserrat", sans-serif;
    color: #373737;
    &__heading {
        color: #4eaeeb;
        font-size: 35px;
        font-weight: bold;
        justify-self: center;
    }
    &__tabs {
        display: flex;
        margin-bottom: 10px;
        &__tab {
            padding: 5px;
            border: 1px solid $primary-blue;
            display: flex;
            text-align: center;
            width: fit-content;
            min-width: 110px;
            color: $primary-blue;
            background-color: white;
            justify-content: center;
            cursor: pointer;
            &--active {
                background-color: $primary-blue;
                color: white;
                box-shadow: 0px 3px 6px #00000029;
            }
        }
    }
}
