<div class="footer" [ngClass]="{'footer__secondary': themedFooter}">
  <!-- <span
    ><mat-icon>home</mat-icon>378 Boston Post Road, Suite #202, Orange, CT</span
  >
  <span><mat-icon>mail</mat-icon>factorialmath@gmail.com</span>
  <span><mat-icon>local_phone</mat-icon>(203) 952 5567 / (203) 981 4186</span> -->
  <span class="footer--first">378 Boston Post Road, Suite #202, Orange, CT</span>
  <span>factorialmath@gmail.com</span>
  <span class="footer--last">(203) 952 5567 / (203) 981 4186</span>
</div>