@import "../../../config";
.qanda {
  display: grid;
  padding: 0 100px;
  font-family: "Montserrat", sans-serif;
  color: #373737;
  &__heading {
    color: #4eaeeb;
    font-size: 35px;
    font-weight: bold;
    justify-self: center;
  }
  &__filterSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 15px;
    &__searchSection {
      display: flex;
      &__label {
        align-self: center;
        margin-right: 10px;
        font-weight: 500;
      }
      &__searchInput {
        border: 1px solid #d9d9d9;
        border-radius: 5px 0px 0px 5px;
        box-shadow: 0px 3px 6px #00000029;
        min-width: 300px;
        padding: 10px 15px;
      }
      &__searchButton {
        display: flex;
        align-items: center;
        background-color: #4eaeeb;
        border-color: #4eaeeb;
        border-radius: 0px 5px 5px 0px;
        mat-icon {
          color: white;
        }
      }
    }
    &__selectTest {
      display: flex;
      justify-content: flex-end;
      &__label {
        align-self: center;
        margin-right: 10px;
        font-weight: 500;
      }
      &__select {
        background-color: white;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        min-width: 260px;
        padding: 10px 15px;
        width: 60%;
      }
    }
  }
  &__table {
    width: 100%;
    tr {
      font-family: "Montserrat", sans-serif;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      align-items: center;
      &:nth-child(odd) {
        background-color: white;
      }
      &:nth-child(even) {
        background-color: #e6e6e6;
      }
      td,
      th {
        border-bottom: none;
        font-weight: 500;
      }
      td:last-child,
      th:last-child {
        grid-column: 7/8;
        .button {
          border-color: #75c52fd6;
          background-color: #75c52fd6;
          color: white;
          font-weight: 500;
        }
      }
      td:not(:first-child),
      th:not(:first-child) {
        text-align: center;
      }
    }
    .mat-header-row {
      background-color: #4eaeeb !important;
    }
    .mat-header-cell {
      font-weight: 500;
      color: #f4f2f3;
      font-size: 16px;
    }
    &__assign {
      border-color: #2fc5a1d6;
      background-color: #2fc5a1d6;
      color: white;
      font-weight: 500;
      outline: none;
      &--analyze {
        background-color: #4eaeeb;
        border-color: #4eaeeb;
      }
      &--score {
        background-color: #9c6be0;
        border-color: #9c6be0;
      }
    }
    &__status {
      display: grid;
      justify-items: center;
      align-items: center;
      &__text {
        font-size: 12px;
        color: #aeaeae;
        &__completed {
          color: #75c52fd6;
        }
      }
    }
  }
}

.createTopic {
  color: #4eaeeb;
  grid-column: 2/3;
  justify-self: end;
  outline: none;
  font-weight: 500;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  mat-icon {
    margin-right: 10px;
  }
}
